@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root {
    --primary-color: #283618;
    --secondary-color: #606C38;
    --accent1-color: #FEFAE0;
    --accent2-color: #DDA15E;

    --heading-font: 'play display', serif;
    --paragraph-font: 'open sans', serif;

    --nav-background-color: #DDA15E;
    --nav-link-color: #606C38;
    --nav-hover-link-color: #FEFAE0;
    --nav-hover-background-color: #FEFAE0;
}

body {
    /* font-family: var(--paragraph-font); */
    font-family: 'open sans';
    color: #000000;
    width: 800px;
    box-sizing: border-box;
    /* display: grid; */
}

h1, h2 {
    /* font-family: var(--heading-font); */
    font-family: 'Playfair Display';
    color: #000000;
    text-align: center;
}

p {
    font-family: 'Open sans';
    /* font-family: var(--paragraph-font); */
}

.sociallinks a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 50px;
    background-color: rgba(255, 255, 255, 0.7);
}

.hero article {
    position: absolute;
    bottom: 50px;
    background-color: rgb(221, 161, 94, 0.7);
    margin: 3em;
    padding: 1em;
}

.hero article img {
    float: right;
    width: 200px;
    height: auto;
    padding: 1em;
}

header {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px;
    margin-bottom: 20px;
    align-items: center;
    background-color: var(--accent2-color);

}

nav {
    display: flex;
}

header nav {
    justify-content: right;
    justify-content: space-between;
}

header img {
    width: 100px;
}

header nav a {
    text-decoration: none;
    padding: 10px;
    color: #000000;
}

header a:hover {
    color: var(--nav-link-color);
    background-color: var(--nav-hover-background-color);
    text-decoration: underline;
    font-weight: bold;
}

.history_layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 20px;
}

.history_layout h2 {
    grid-column: 1/4;
}

.history_layout img {
    width: 250px;
    padding: 20px;
    height: auto;
    align-self: center;
}

.adventure_layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.adventure_layout h2 {
    grid-column: 1/6;
    margin-bottom: 40px;
}

.adventure_layout img {
    width: 150px;
    height: auto;
    justify-content: space-evenly;
}

.adventure_layout figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: 0 auto;
}

.adventure_layout figcaption {
    text-align: center;
}


.footer_layout {
    display: grid;
    grid-template-columns: repeat(2, 80% 20%);
    margin-top: 50px;
}

.footer_layout p {
    justify-self: center;
}

.sociallinks img {
    width: 40px;
    height: auto;
}

.contact {
    background-color: #DDA15E;
    padding: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid black;
    padding: 40px;
    width: 400px;
    margin: 0 auto;
    background-color: #DDA15E;
}

input,
label,
button,
textarea {
    padding: 8px;
}

.list {
    display: grid;
    padding-top: 1px;
    padding-bottom: 10px;
}

#checkbox {
    display: inline;
    padding: 20px 0;
}

p {
    padding-top: 20px;
    padding-left: 10px;
}

button {
    background-color: royalblue;
    font-size: large;
    font-weight: bold;
}

button:hover {
    background-color: olivedrab;
}

.employee_layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.employee_layout h2 {
    grid-column: 1/4;
    margin-bottom: 40px;
}

.employee_layout img {
    width: 150px;
    height: auto;
    justify-content: space-evenly;
}

.adventure_layout figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: 0 auto;
}

.adventure_layout figcaption {
    text-align: center;
}