@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root {
    --primary-color: #283618;
    --secondary-color: #606C38;
    --accent1-color: #FEFAE0;
    --accent2-color: #DDA15E;

    --heading-font: 'play display', serif;
    --paragraph-font: 'open sans', serif;

    --nav-background-color: #FEFAE0;
    --nav-link-color: #606C38;
    --nav-hover-link-color: #283618;
    --nav-hover-background-color: #DDA15E;
}

body {
    /* font-family: var(--paragraph-font); */
    font-family: 'open sans';
    color: #000000;
    width: 800px;
    box-sizing: border-box;
}

h1, h2 {
    /* font-family: var(--heading-font); */
    font-family: 'Playfair Display';
    color: #DDA15E;
}

p {
    font-family: 'Open sans';
    /* font-family: var(--paragraph-font); */
}

.sociallinks a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 10px;
    /* left: 180px; */
    /* padding: 5px; */
    background-color: rgb(0, 0, 0, 0.7);
}

.hero article {
    position: absolute;
    bottom: 50px;
    background-color: rgb(221, 161, 94, 0.7);
    margin: 3em;
    padding: 1em;
}

.hero article img {
    float: right;
    width: 200px;
    height: auto;
    padding: 1em;
}